
* { 
    font-family: 'Mulish', sans-serif;
}
body {
    margin: 0;
}
.nav-cont {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 24px 100px;
    background-color: rgba(188, 109, 217, .1);
}
.nav-brand {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #f53838;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link a {
    margin: 0 16px;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.nav-link a:hover {
    text-decoration: underline;
}
.sign-in {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #51131c;
    margin-right: 30px;
    background-color: transparent;
    border: 0;
    padding: 1px 6px;
    transition: color 0.25s ease-in-out;
}
.sign-in:hover {
    color: #f53838;
    cursor: pointer;
}
.sign-up {
    font-size: 16px;
    font-family: 'Mulish', 'sans-serif';
    font-weight: 700;
    background-color: transparent;
    color: #f53855;
    border: 1px solid #f53855;
    padding: 13px 45px;
    border-radius: 50px;
    transition: 0.25s ease-in-out;
}
.sign-up:hover {
    background-color: #f53855;
    color: #ffffff;
    cursor: pointer;
}
.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(188, 109, 217, .1);
    padding-bottom: 56px;
}
.title-heading {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    height: 110px;
    width: 700px;
    margin: 37px 0;
}
.title-content {
    font-size: 16px;
    text-align: center;
    height: 60px;
    width: 700px;
    margin: 16px 0;
}
.button-primary {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: #f53838;
    color: #ffffff;
    margin-top: 36px;
    padding: 12px 48px;
    border: 0;
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out;
}
.button-primary:hover {
    background-color: #d62f2f;
}
.blog-section {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title-cont {
    width: 900px;
    text-align: center;
}
.section-title-cont h3 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.1px;
    text-align: center;
    margin: 32px 0;
}
.section-title-cont p {
    font-size: 16px;
    text-align: center;
    color: #737b7d;
    margin: 16px 0;
}
.section-title-cont a {
    font-size: 16px;
    text-align: center;
    color: #3c64b1;
    text-decoration: none;
}
.card-cont {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 400px;
    border: 1px solid #f2f2f2;
    margin: 24px 16px;
    border-radius: 14px;
}
.card-head {
    background-color: #d2ebf7;
    height: 168px;
    /* border-top-left-radius: 16px; */
    /* border-top-right-radius: 16px; */
    border-radius: 16px 16px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-head img {
    height: 120px;
    width: 120px;
}
.card-body {
    /* height: 126px; */
    padding: 24px;
}
.card-body h5 {
    font-size: 20px;
    font-weight: 600;
    color: #081f32;
    margin: 0;
}
.card-body p {
    font-size: 13px;
    color: #374a59;
    margin: 24px 0 13px 0;
}

.contact-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    margin: 0 90px;
    border-top: 1px solid cornsilk;
}

.contact-item-container {
    display: flex;
    margin-top: 50px;
}

.contact-item {
    width: 300px;
}
 .comntact-item h6 {
     margin-top: 0;
     margin-bottom: 0;
     font-weight: 700;
     font-size: 18px;
     color: #373f41;

 }

 .contact-item p {
     margin-top: 8px;
     margin-bottom: 0;
     font-weight: 400;
     font-size: 14px;
     color: #373f41;
     margin-left: 30%;

 }

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(187, 107, 217, 0,1);
    padding: 120px 0;

}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item h6 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.footer-item a {
    text-decoration: none;
    color: #4f5665;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}

.footer-item a:hover {
    text-decoration: underline ;
}



